.topnav {
    background-color: #ea55ae;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    align-content: center;
   
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    text-align: center;
    color: #f2f2f2;
    float: left;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    
  }
body{
    background-image: linear-gradient(to right, rgba(242, 213, 245, 0.993) , rgb(238, 202, 244));
  
}
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

   
h1{
    text-align: center;
    color: black;
    
  }
h2{
    text-align: center;
    color: black;
  
  }
.myDiv{ font-size: large;
    border: 2px outset gray;
    background-color: rgb(245, 199, 242);    
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    box-shadow: #575656 5px 10px;
}
.Projects{
        font-size: large;
        border: 2px outset gray;
        background-color: rgb(245, 199, 242);    
        text-align: center;
        margin: auto;
        width: 50%;
        padding: 10px;
        box-shadow: #575656 5px 10px;
    
}
.Certification{
    
  border: 2px outset gray;
  background-color: rgb(245, 199, 242);    
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  box-shadow: #575656 5px 10px;

}
ul{
  text-align: center;
  list-style: none;
  font-size: large;
}
footer {
  
  background-color: rgb(238, 197, 249);
  padding: 10px;
  text-align: center;
  border: #ef49ad 5px 5px;
  border-radius: 5px;
  box-shadow: #575656 5px 5px;
  
}
.hero-heading{
  color: #383737;
  font-size: 120px;
  text-transform: capitalize;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  

}
img{
    position: absolute;
    
    object-fit: cover;
    opacity: 0.5;
    
}

